obj/
gen/
pkg/*
.ant-targets-build.xml
project.properties
auto.prop
.classpath
.settings/
*.iml
dist
.idea/
local.properties
build.xml
6.1-main.iml
.gradle/
build/
captures/
node_modules
wxapkg
/pkg/
test/js/
OUTPUT
OUTPUT-GAME
.DS_Store
workspaces/*